<div class="container center">
    <form>
        <div class="form-group">
            <label style="margin: 10px 0px;" for="exampleInputPassword1">Customer Name</label>
            <input style="margin: 10px 0px;width: 50%;" type="text" class="form-control" id="exampleInputPassword1"
                placeholder="Enter Customer Name">
        </div>
        <div class="form-group" style="margin: 20px 0px;">
            <label style="margin-right: 10px;" for="cars">Select Customer Base:</label>

            <select name="cars" id="cars">
                <option value="volvo">Dindigul</option>
                <option value="saab">Trichy</option>

            </select>
        </div>


        <button type="button" style="display: inline-block;margin: 0 auto;" class="btn btn-success">Save</button>
    </form>
</div>