<div class="container">
    <div>
        <h1 class="headingCls">Welcome to B.M.S Flowers</h1>
    </div>
</div>
<div class="container">
    <div>
        <button style="margin-right: 20px;" type="button" id="saveBtn1" class="btn btn-success" (click)="billing($event)">{{btnName}}</button>
        <button style="margin-right: 20px;" type="button" id="saveBtn2" class="btn btn-success" (click)="customerGroup($event)">Customer Group</button>
        <button type="button" id="saveBtn3" class="btn btn-success" (click)="areaMaster($event)">Area Master</button>
        <button style="margin-left: 25px;" type="button" id="saveBtn4" class="btn btn-success" (click)="viewReport()">View Report</button>
        <button style="margin-left: 25px;" type="button" id="saveBtn4" class="btn btn-success" (click)="addProduct()">Products Master</button>


        

    </div>
</div>


